body {
  font-family: 'Raleway', Arial, sans-serif;
  /* height: 100vh; */
  height: 100%;
  width: 100vw;
  background-image: url(PuppyBowl.png);
 /* adding some styling */
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
  padding: 0;
  margin: 0;
}

#Navbar {
  font-family: 'Poller One', Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;
  font-size: 25px;
  padding: .5em .5em .5em .5em;
}

/* #searchBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

#SearchBar {
  /* border: 3px solid black; */
  padding: 1em 0 0 3em;
  /* display: flex;
  flex-direction: row;
  align-items:flex-start; */
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.puppyPicture {
width: 20rem;

}

.puppy {
  display: flex;
  flex-direction: column;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px;
  background-color: rgba(20, 11, 92, 0.981);
  color: white;
  border-radius: 30px;
}

.nameAndId {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

button {
  background-color: rgb(202, 202, 202);
  font-size: 15px;
  margin-top: 5px;
  border-radius: 15%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder
}

